.bg-custom-1 {
    background-color: #303030;
    color: white;
}

.bg-custom-2 {
    background-color: #424242;
    color: white;
}

.bg-custom-3 {
    background-color: #484848;
    color: white;
}

.bg-custom-4 {
    background-color: #636363;
    color: white;
}