footer
    div(class="container text-white text-center mt-5")
        hr(class="bg-light" style="height:2px; width:30%; border-width:0; margin:auto;")
        p(class="text-muted mt-3") Contact <br>Discord: ms2#7917<br>In Game: 응애나애기재욱
