div(class="container text-white text-center mt-5")
    hr(class="bg-light" style="height:2px; width:30%; border-width:0; margin:auto;")
    h2(class="display-6 mt-3") 패치 예정
    ul(class="list-group")
        li( class="list-group-item bg-custom-1 text-white border-0") 엑셀 표 다운로드 기능 
        li( class="list-group-item bg-custom-1 text-white border-0") 상위 4% 통계 
        li( class="list-group-item bg-custom-1 text-white border-0") 디자인 개편 
        li( class="list-group-item bg-custom-1 text-white border-0") 자체 통계분석
        li( class="list-group-item bg-custom-1 text-white border-0") 통계 수집 범위 확장 
        li( class="list-group-item bg-custom-1 text-white border-0") 백엔드 로직 개선
        li( class="list-group-item bg-custom-1 text-white border-0") 듀오, 스쿼드, 코발트 통계 추가
        li( class="list-group-item bg-custom-1 text-white border-0") 부특성 통계 추가       